<div class="container">
    <form class="form" role="form" (submit)="vm.onSubmit()"  id="ngForm">
        <div class="form-group">
            <alert [hidden]="vm.loginError.length == 0" type="danger" dismissible="true">
                {{ vm.loginError }}
            </alert>
            <label for="username">Username</label>
            <input type="text" class="form-control" required
                   [(ngModel)]="vm.username"
                   ngControl="username"  #username="ngForm" id="username">
            <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
                Username can't be empty
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="password" [(ngModel)]="vm.password"
            ngcontrol="password" #password="ngForm" required>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password can't be empty
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>